body{
  background-color: #F6F7FC;
  margin: 0px;
  font-family: 'Roboto', sans-serif;
}
.container{
  padding: 50px;
  margin: 0px;
}

.row{
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  border-radius: 2px;
}
.col{
  flex: 1 0 0%;
  padding: 10px;
}

.avatar {
  width: 200px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* NAVBAR */
.topnav, .topnav_mobile {
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  box-shadow: 0px 5px #b8b8b850;
}

/* Style the links inside the navigation bar */
.topnav a, .topnav_mobile a {
  float: left;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover, .topnav_mobile a:hover {
  background-color: red;
  color: black;
}

.topnav_mobile a:hover {
  background-color: red;
  color: black;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
float: right;
}

.topnav-left{
  float: left;
}

.navbar-bkg{
  background-color: rgb(255, 255, 255);
  padding: 10px;
  box-shadow: 0px 5px #b8b8b850;
}

.dropbtn {
  color: #000000;
  border: 1px solid black;
}

.dropdown {
  float: right;
  position: relative;
  display: contents;

  
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #7a7a7a;
}

form{
  width: 100%;
}
label{
  display: block;
  margin: 5px 0px;
}
input{
  display: block;
  width: -webkit-fill-available;
  height: 25px;
}


button{
  /* background-color: green; */
  border: 1px solid;
  padding: 5px 15px;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition-duration: 0.4s;
}

.btn-kontak{
  background-color: blue;
  color: white;
}
.btn-kontak:hover{
  background-color: rgb(255, 255, 255);
  color: blue;
  border: 1px solid blue ;
}

.btn-resume{
  background-color: white;
  color: green;
}
.btn-resume:hover{
  background-color: green;
  color: white;
  /* border: 1px solid green ; */
}

.btn-submit{
  background-color: green;
  color: white;
  width: -webkit-fill-available;
  padding: 10px 0px;
}
.btn-submit:hover{
  background-color: rgb(255, 255, 255);
  color: green;
  border: 1px solid green ;
}

@media(min-width:321px) {
  .navbar-bkg{
      display: none;
      /* background-color: red; */
  }
  .mobile{
      display: none;
  }
} 

@media(max-width:400px) {
   .topnav{
       display: none;
      
       /* background-color: blue; */
   }
   .dekstop{
       display: none;
   }
}